{% extends 'orders/base_orders.html' %}

{% block title %}
Все Заказы - {{block.super}}
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row mt-5">
    <div class="col-sm-8">
      <h1 class='mb'>Заказы:</h1>
      <h4>{{ order.objects.count }}</h4>
    </div>
    <div class="col-sm-4 text-right mt-2">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Добавить</button>
    </div>
  </div>
  <div class="table-responsive-sm">
    <table id="table" class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width: 9%">#</th>
          <th scope="col" style="width: 10%">Дата создания</th>
          <th scope="col">Клиент</th>
          <th scope="col">Менеджер</th>
          <th scope="col" style="width: 11%">Сумма</th>
          <th scope="col">Оплачено</th>
          <th scope="col">Долг</th>
          <th scope="col" style="width: 10%">Статус</th>
          <th scope="col" style="width: 12%" data-sort-method='none'></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <th scope="row"><a href="{{ order.get_absolute_url }}">{{ order.id }}</a></th>
          <td>{{ order.date_create|date:'d/m/Y' }}</td>
          <td>
            <h6>
              <a href="{{ order.client.get_absolute_url }}">
                {{ order.client.last_name }} {{ order.client.first_name }}
                {% if order.client.label %}
                <span class="badge badge-danger">!</span>
                {% endif %}
              </a>
            </h6>
          </td>
          <td>{{ order.worker }}</td>
          <td><b>{{ order.summa }} р.</b></td>
          <td>{{ order.deposit }}</td>
          <td>{{ order.debt }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ order.get_status_display }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-success"><i class="fa fa-eye"><a href="{{ order.get_absolute_url }}"></a></i></button>
            <button type="button" class="btn btn-sm btn-success"><i class="fa fa-print"></i></button>
            <button type="button" class="btn btn-sm btn-success"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% block extrascripts %}
<script type="text/javascript">
  new Tablesort(document.getElementById('table'));
</script>

{% endblock extrascripts %}

{% endblock %}
